<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    
    <div class="container">

        <h1>URL Shortner</h1>
    <form action="/shortUrls" method="POST" class="my-4">
        
        <label for="fullURL" class="sr-only">URL</label><br>
        <input type="url" name="fullURL" id="fullURL" required class="form-control mr2">
        <button type="submit" class="btn btn-success">Shrink it !</button>

        <table class="table table-striped table-responsive">
            <thead>

                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>clicks</th>
                </tr>
    
            </thead>
            <tbody>
                <% shortUrls.forEach(shortUrl => {  %>
                <tr>
                    <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                    <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                    <td><%= shortUrl.clicks %></td>
                </tr>

                <%}) %>
            </tbody>
        </table>
        
    </form>


    </div>

    <script src="../server.js"></script>
</body>
</html>